<!-- <p>admin-usuario works!</p>
<button [hasPermission]='"0098"'>Guadar admin usuario</button>
<button [hasPermission]='"0098"'>Guadar admin usuario</button>
<button [hasPermission]='"0098"'>Guadar admin usuario</button>
<button [hasPermission]='"0098"'>Guadar admin usuario</button>
<button [hasPermission]='"0098"'>Guadar admin usuario</button>
<button [hasPermission]='"0098"'>Guadar admin usuario</button>
<button [hasPermission]='"3456"'>Guadar admin usuario</button>
<button [hasPermission]='"0098"'>Guadar admin usuario</button>
<button [hasPermission]='"0098"'>Guadar admin usuario</button>
<button [hasPermission]='"0098"'>Guadar admin usuario</button>
<button [hasPermission]='"0098"'>Guadar admin usuario</button>
<button [hasPermission]='"0098"'>Guadar admin usuario</button>
<button [hasPermission]='"0098"'>Guadar admin usuario</button>
<button [hasPermission]='"0098"'>Guadar admin usuario</button>
<button [hasPermission]='"32"'>Guadar admin usuario</button>
<button [hasPermission]='"0098"'>Guadar admin usuario</button>
<button [hasPermission]='"0098"'>Guadar admin usuario</button>
<button [hasPermission]='"0098"'>Guadar admin usuario</button>
<button [hasPermission]='"0098"'>Guadar admin usuario</button>
<button [hasPermission]='"0098"'>Guadar admin usuario</button>
<button [hasPermission]='"0098"'>Guadar admin usuario</button>
<button [hasPermission]='"0098"'>Guadar admin usuario</button>
<button [hasPermission]='"0098"'>Guadar admin usuario</button>
<button [hasPermission]='"0098"'>Guadar admin usuario</button>
<button [hasPermission]='"0098"'>Guadar admin usuario</button>
<button [hasPermission]='"0098"'>Guadar admin usuario</button>
<button [hasPermission]='"0098"'>Guadar admin usuario</button>
<button [hasPermission]='"0098"'>Guadar admin usuario</button>
<button [hasPermission]='"0098"'>Guadar admin usuario</button>
<button [hasPermission]='"0098"'>Guadar admin usuario</button>
<button [hasPermission]='"0098"'>Guadar admin usuario</button>
<button [hasPermission]='"0098"'>Guadar admin usuario</button>
<button [hasPermission]='"0098"'>Guadar admin usuario</button>
<button [hasPermission]='"0098"'>Guadar admin usuario</button>
<button [hasPermission]='"0098"'>Guadar admin usuario</button>
<button [hasPermission]='"0098"'>Guadar admin usuario</button>
<button [hasPermission]='"0098"'>Guadar admin usuario</button>
<button [hasPermission]='"0098"'>Guadar admin usuario</button>
<button [hasPermission]='"0098"'>Guadar admin usuario</button>
<button [hasPermission]='"0098"'>Guadar admin usuario</button>
<button [hasPermission]='"0098"'>Guadar admin usuario</button>
<button [hasPermission]='"0098"'>Guadar admin usuario</button>
<button [hasPermission]='"0098"'>Guadar admin usuario</button>
<button [hasPermission]='"0098"'>Guadar admin usuario</button>
<button [hasPermission]='"0098"'>Guadar admin usuario</button>
<button [hasPermission]='"0098"'>Guadar admin usuario</button>
<button [hasPermission]='"0098"'>Guadar admin usuario</button>
<button [hasPermission]='"0098"'>Guadar admin usuario</button>
<button [hasPermission]='"0098"'>Guadar admin usuario</button>
<button [hasPermission]='"0098"'>Guadar admin usuario</button> -->
