<div [formGroup]="formFilter" class="grid grid-cols-3 gap-4">
    <div>
        <label for="countries" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Fecha</label>
        <input class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        formControlName="fechaCorte"    
        type="date" name="" id="">
    </div>
    <div>
        <label for="countries" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Supervisor</label>
        <select id="countries" formControlName="supervisor" (change)="obtenerVendedores()"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            <option value="" >Seleccione uno</option>
            @for (option of supervisores; track $index) {
                <option [value]="option.id">{{option.nombre}}</option>
            }
        </select>
    </div>
    <div>
        <label for="countries" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Vendedor</label>
        <select id="countries" formControlName="vendedor" (change)="outPutData()"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            <option  value="">Seleccione uno</option>
            @for (option of vendedores; track $index) {
                <option [value]="option.id">{{option.nombre}}</option>
            }
        </select>
    </div>
</div>